.section-activity {

}
.tabs-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
  // align-items: center;
  @media @small {
    justify-content: center;
  }
}
.tab {
  &-btn {
    max-height: 150px;
    margin-bottom: 0.56%;    
    padding: 2px;     
    width: 13.157%;
    font-size: 16px;
    font-family: @LG;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: @blue;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transition: background 0.25s ease-in-out;
    @media @tablet {
      transition: none;
      font-size: 9px;
    }
    @media @small {
      margin: 2px;
    }
    &:hover {
      background: #123262;
    }
  }//btn

  &-pane {
    // display: none;
    .active {
      display: block;
    }
  }

  &-text {
    text-indent: 99px;
  }
}//tab