header.page-header
  .container
    a.page-header__logo(href="/" title="Поместье")
      img(src="img/logo.png",
          width="263"
          height="72"
          alt="Поместье")
      .page-header__logo-descr Проектирование и строительство домов, коттеджей, монтаж инженерных коммуникаций
    .page-header__content
      .page-header__info
        .page-header__info-item.page-header__info-item--adress Уфа,Рихарда Зорге,12/1,офис 303<br><a href="#map">Посмотреть на карте</a>
        .page-header__info-item.page-header__info-item--time Пн - Пт:<br>9:00 - 18:00
        .page-header__info-item.page-header__info-item--mail info@skpomestye.ru<br/><a href="mailto:info@skpomestye.ru"> Написать письмо</a>
        .page-header__info-item.page-header__info-item--phone +7-969-66-888-87<br/><a href="tel:79696688887">Заказать звонок</a>
      nav.main-nav
        button.main-nav__trigger(type="button")
          span
        .main-nav__dropdown
          ul.main-nav__list
            li.main-nav__item
              a(href="/") Главная
            li.main-nav__item
              a(href="#about") О Компании
            li.main-nav__item
              a(href="/") Виды работ
            li.main-nav__item
              a(href="#reputation") Репутация
            li.main-nav__item
              a(href="#projects") Проекты
            li.main-nav__item
              a(href="#events") Акции
            li.main-nav__item
              a(href="#contacts") Контакты
section.banner(style="background-image:url('img/slider/slide-bg-3.jpg')")
  .container
    h2.banner__title Строительство<br/> домов и коттеджей<br/> по республике башкортостан
section.slider
  .slider__list
    .slider__item(style="background-image: url('img/slider/slide-bg-1.jpg');")
      .container
        .slider__item-content
          h2.slider__item-title Конроль строительства не своих домов
          p.slider__item-text В связи с появлением  недобростовестных подрядчиков по строительству домов, компания «Поместье» все чаще оказывает услуги по контролю качества и соблюдению технологий строительства за не своими домами, проведению анализа строительных смет, приемке этапов работ и дома в целом.