footer.page-footer
  .container
    h2.page-footer__title Поместье
    p.page-footer__descr Проектирование и строительство домов, коттеджей, монтаж инженерных коммуникаций
    .page-footer__body
      .page-footer__contacts
        h3.page- Связаться с ними
        address.page-footer__address
          span 450059, Уфа, Рихарда Зорге, 12/1, офис 303
          a.page-footer__link(href="mailto:info@skpomesttye.ru") info@skpomesttye.ru
          a.page-footer__link(href="tel: +79696688887") +7-969-66-888-87
      .page-footer__current-objects
        h3.page-footer__current-objects-title Текущие обьекты
          ul.page-footer__current-objects-list
            li.page-footer__current-objects-list-item 1
            li.page-footer__current-objects-list-item 1
            li.page-footer__current-objects-list-item 1
            li.page-footer__current-objects-list-item 1
      .page-footer__promo
        p  «Поддержание строительства высокого качества, является нашим руководящим принципом»
        cito Генеральный директор Фамилия И. О.
