header.page-header
  .container
    a.page-header__logo(href="/" title="Поместье")
      img(src="img/logo.png",
          width="263"
          height="72"
          alt="Поместье")
      .page-header__logo-descr Проектирование и строительство домов, коттеджей, монтаж инженерных коммуникаций
    .page-header__content
      .page-header__info
        .page-header__info-item.page-header__info-item--adress Уфа,Рихарда Зорге,12/1,офис 303<br><a href="#map">Посмотреть на карте</a>
        .page-header__info-item.page-header__info-item--time Пн - Пт:<br>9:00 - 18:00
        .page-header__info-item.page-header__info-item--mail info@skpomestye.ru<br/><a href="mailto:info@skpomestye.ru"> Написать письмо</a>
        .page-header__info-item.page-header__info-item--phone +7-969-66-888-87<br/><a href="tel:79696688887">Заказать звонок</a>
      nav.main-nav
        button.main-nav__trigger(type="button")
          span
        .main-nav__dropdown
          ul.main-nav__list
            li.main-nav__item
              a(href="/") Главная
            li.main-nav__item
              a(href="#about") О Компании
            li.main-nav__item
              a(href="/") Виды работ
            li.main-nav__item
              a(href="#reputation") Репутация
            li.main-nav__item
              a(href="#projects") Проекты
            li.main-nav__item
              a(href="#events") Акции
            li.main-nav__item
              a(href="#contacts") Контакты
section.banner(style="background-image:url('img/slider/slide-bg-3.jpg')")
  .container
    h2.banner__title Строительство<br/> домов и коттеджей<br/> по республике башкортостан
section.slider
  .slider__list
    .slider__item(style="background-image: url('img/slider/slide-bg-1.jpg');")
      .container
        .slider__item-content
          h2.slider__item-title Строительство домов из всех видов материалов
          .slider__item-descr Компания «Поместье» осуществляет строительство из следующих материалов:
          .slider__item-row
            ul.slider__item-list
              li.slider__item-list-item Кирпич
              li.slider__item-list-item Клеенный брус
              li.slider__item-list-item Монолитный каркас
              li.slider__item-list-item Керамические блоки
              li.slider__item-list-item Керамзитобетонные блоки
            ul.slider__item-list
              li.slider__item-list-item Оцилиндрованное бревно
              li.slider__item-list-item Брус профилированный
              li.slider__item-list-item Брус обычный
              li.slider__item-list-item Двойной брус
              li.slider__item-list-item Пеноблоки
            ul.slider__item-list
              li.slider__item-list-item Газобетонные блоки
              li.slider__item-list-item Газосиликатные блоки
              li.slider__item-list-item СИП панели
              li.slider__item-list-item Каркасный дом
    .slider__item(style="background-image: url('img/slider/slide-bg-2.jpg');")
      .container
        .slider__item-content
          h2.slider__item-title Качество и профессионализм
          p.slider__item-text Опыт строительства 10 лет.<br />Пять бригад строителей - первоклассных мастеров своего дела.<br />Профессиональное владение и строгое соблюдение технологий строительства,<br />контрольная проверка качества этих этапов.
    .slider__item(style="background-image: url('img/slider/slide-bg-3.jpg');")
      .container
        .slider__item-content
          h2.slider__item-title Сотни успешно построенных домов
          p.slider__item-text За 10 лет непрерывной деятельности наша компания<br/> успешно построила и сдала в эксплуатацию более 200 домов!
    .slider__item(style="background-image: url('img/slider/slide-bg-4.jpg');")
      .container
        .slider__item-content
          h2.slider__item-title Безупречная работа
          p.slider__item-text За время своего существования компания «Поместье»<br /> заработала и твердо удерживает репутацию порядочного застройщика.<br />Все дома построены сострогим соблюдением сметы, сроков, технологии строительства<br /> и отличаются высоким качеством постройки. Мы дорожим имиджем компании!
    .slider__item(style="background-image: url('img/slider/slide-bg-5.jpg');")
      .container
        .slider__item-content
          h2.slider__item-title Современные технологии строительства
          p.slider__item-text Применяем самые современные материалы и технологии.<br />Внимательно следим появлением новых тенденций в строительстве.<br />Постоянно повышаем и совершенствуем квалификацию своих специалистов.<br />Детально изучаем, тестируем и проверяем инновации перед применением в строительстве домов.

    .slider__item(style="background-image: url('img/slider/slide-bg-6.jpg');")
      .container
        .slider__item-content
          h2.slider__item-title Конроль строительства не своих домов
          p.slider__item-text В связи с появлением  недобростовестных подрядчиков по строительству домов, компания «Поместье» все чаще оказывает услуги по контролю качества и соблюдению технологий строительства за не своими домами, проведению анализа строительных смет, приемке этапов работ и дома в целом.